
/* Basic styling */
body {
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 margin: 0;
 padding: 0;
}

nav {
 background-color: #4CAF50;
 padding: 10px 0;
}

nav .container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

nav h2 {
 color: white;
 margin-left: 20px;
}

nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

nav ul li {
 display: inline;
 margin-right: 20px;
}

nav ul li a {
 color: white;
 text-decoration: none;
 font-weight: bold;
}

/* Card Layout */
.scholarship-section {
 margin: 20px;
}

.scholarship-cards {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 margin-top: 30px;
}

.card {
 background-color: white;
 border: 1px solid #ddd;
 border-radius: 8px;
 padding: 10px;
 width: 300px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 margin-bottom: 20px;
}

.card h4 {
 font-size: 1.5em;
 margin-bottom: 10px;
}

.card p {
 margin-bottom: 10px;
}

.card ul {
 list-style-type: none;
 padding: 0;
}

.card ul li {
 margin-bottom: 5px;
}
